{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} car-create {% endblock title %}


{% block content  %}
<!-- Include the side header  -->
{% include "include/header.html" %}

<div class="register">
    <div class="jumbotron mt-3" style=" margin-top:5%; background-color:#343A40; color:white;">
       <h2 style="text-align:center;">Register new Car</h2>
    </div>
    <form action="" method="POST">
        {% csrf_token %}


        <div class="form-row">
           <div class="form-group col-md-6">
           {{ form.owner|as_crispy_field }}
           </div>
           <div class="form-group col-md-6">
           {{ form.vehicle_category|as_crispy_field }}
           </div>
        </div>

        <div class="form-row">
           <div class="form-group col-md-6">
           {{ form.vehicle_sub_category|as_crispy_field }}
           </div>
           <div class="form-group col-md-6">
           {{ form.old_plate_number|as_crispy_field }}
           </div>
        </div>

        <div class="form-row">
           <div class="form-group col-md-6">
           {{ form.vehicle_make|as_crispy_field }}
           </div>
           <div class="form-group col-md-6">
           {{ form.color|as_crispy_field }}
           </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
            {{ form.fuel_type|as_crispy_field }}
            </div>
            <div class="form-group col-md-12">
                {{ form.year_of_manufacture|as_crispy_field }}
            </div>
    
         </div>

        <div class="form-row">
           <div class="form-group col-md-4">
           {{ form.model |as_crispy_field }}
           </div>
           <div class="form-group col-md-4">
           {{ form.engine_number|as_crispy_field }}
           </div>
           <div class="form-group col-md-4">
            {{ form.policy_number|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
            {{ form.tank_capacity|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
            {{ form.odometer|as_crispy_field }}
            </div>
         </div>

        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.vehicle_type |as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
            {{ form.chassis_no|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
             {{ form.engine_capacity|as_crispy_field }}
             </div>
         </div>
         
    <!-- <button type="submit" class="btn btn-primary mb-5">Add product</button> -->
         <input type="submit" value="Register new car" class="btn btn-primary mb-5">
    </form>

{% endblock content  %}