{% extends "base.html" %}
{% load static %}
{% block title %} display {% endblock title %}



{% block content  %}
<!-- Include the side header  -->
{% include "include/header.html" %}
<div class="jumbotron border shadow">
    <!-- Search jumbotron  -->
    <div class="row">
        <div class="col-md-8 offset-2">
            <form action="/search">
               <div class="input-group">
                    <input type="text" name="q" placeholder="Verify Registred" required
                    class="form-control form-control-lg">
                    <div class="input-group-append">
                      <button class="btn btn-dark btn-lg"> <span> <i class="fa fa-search"></i></span></button>
                    </div>
               </div>
              </form>
              <p style="text-align: center;"> 
                <b></b> 
                <span class="text-muted">Search registered user</span>
              </p>
        </div>
    </div>
 </div> <!-- End of search input-->   

<table class="table jumbotron">
    <h3>Enrolled </h3>
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Full Name</th>
        <th scope="col">Sex</th>
        <th scope="col">Occupation</th>
        <th scope="col">Local government</th>
        <th scope="col">State</th>
        
      </tr>
    </thead>
    <tbody>
      {% for owner in owners %}
        <tr>
          <th>{{ owner.id }}</th>
          <td>
            <a href="{% url 'owner-update' owner.id %}">{{ owner.full_name }}</a>
          </td>
          <td>{{ owner.sex }}</td>
          <td>{{ owner.occupation }}</td>
          <td>{{ owner.local_government }}</td>
          <td>{{ owner.state }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "include/pagination.html" %}
{% endblock content  %}