<div class="cards">
    <a  href="{% url 'car-create'%}"  style="text-decoration: none;">  
        <div class="card-content" {% if request.resolver_match.view_name == 'car-create' %} style="background-color: blue; color:white;" {% endif %}>
            New Vehicle Registration
        </div>
    </a>
    <a href="{% url 'car-list' %}" style="text-decoration: none;">
        <div class="card-content" {% if request.resolver_match.view_name == 'car-list' %} style="background-color: blue; color:white;" {% endif %}>
            Existed Vehicle Registration
        </div>
    </a>
    <a href="{% url 'owner-create' %}" style="text-decoration: none;">
        <div class="card-content" 
        {% if request.resolver_match.view_name == 'owner-create' or request.resolver_match.view_name == 'owner-update'%} 
            style="background-color: blue; color:white;" 
        {% endif %}>
           Register new
        </div>
    </a>
    <a href="{% url 'owner-list' %}" style="text-decoration: none;">
        <div class="card-content"      
        {% if request.resolver_match.view_name == 'owner-list' or request.resolver_match.view_name == 'owner-detail' %}
            style="background-color: blue; color:white;" 
        {% endif %}>
            View all registred
        </div>
    </a>
</div>
