<div class="cards">
    <a  href="{% url 'car-create'%}" >  
        <div class="card-content" {% if request.resolver_match.view_name == 'car-create' %} style="background-color: blue; color:white;" {% endif %}>
            <span><i class="fa fa-layer-group"></i></span> New Vehicle Registration
        </div>
    </a>
    <a href="{% url 'car-list' %}">
        <div class="card-content" {% if request.resolver_match.view_name == 'car-list' %} style="background-color: blue; color:white;" {% endif %}>
            <span></span> Existed Vehicle Registration
        </div>
    </a>
    <a href="{% url "owner-create" %}">
        <div class="card-content" 
        {% if request.resolver_match.view_name == 'owner-create' or request.resolver_match.view_name == 'owner-update'%} 
            style="background-color: blue; color:white;" 
        {% endif %}>
           Register new
        </div>
    </a>
    <a href="{% url 'owner-list' %}">
        <div class="card-content"      
        {% if request.resolver_match.view_name == 'owner-list' or request.resolver_match.view_name == 'owner-detail' %}
            style="background-color: blue; color:white;" 
        {% endif %}>
            View all registred
        </div>
    </a>
</div>
